.container{
    display: flex;
    margin-top: 9rem;
    height: calc(100vh - 16rem);
    padding: 2rem 5rem 2rem 5rem;
    align-items: center;
    flex-flow: column;
    min-height: 73vh
}

.wrapper{
    width: 90%;
}
.yearSelector{
    margin-left: 1rem;
    background-color: white;
    color: black;
    border-radius: 4px;
    border: 2px solid wheat;
}
.graphic{
    width: 50%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}