.container{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 20rem;
    /* background: linear-gradient(5deg, #9503e4d7 10%, #4ada8490 33%, RGB(20, 21, 24) 66%, rgba(255, 255, 255, 0) 100%) 99% 50% / 200% 100%; */
    background-color: rgb(23, 23, 23);
    color: white;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 1rem;
    position: relative;
    margin: 1rem;
    display: f;
}
.actions{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: small;
}

.deleteAcc{
    color: red;
    cursor: pointer;
    margin-bottom: 4rem;
}
.addTransaction{
    color: #4ada84;
    cursor: pointer;
}

.container h3{
    margin: 1rem;
}

.type{
    text-transform:capitalize;
    margin: 0 0.3rem 0 0.3rem;
}

.wrapper{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.movements{
    margin-left: 1rem;
}

.table{
    background-color: rgb(67, 67, 67);
    width: 100%;
    border-radius: 10px;

}

.transactionsContainer{
    height: 8rem;
    background-color: white;
    overflow: scroll;
    border-radius: 10px;
    padding: 1rem;
    color: black;
    flex-direction: column;
}