.container{
    width: 20rem;
    height: 20rem;
    background: linear-gradient(5deg, #9503e4d7 10%, #4ada8490 33%, RGB(20, 21, 24) 66%, rgba(255, 255, 255, 0) 100%) 99% 50% / 200% 100%;
    color: white;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 0 10px 0 white;
    margin: 1rem;
}

.type{
    text-transform:capitalize;
}

.transactionsContainer{
    height: 8rem;
    background-color: white;
    overflow: scroll;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    color: black;
}