.container{
    display:flex;
    background: linear-gradient(345deg, grey 0.1%, RGB(20 20 20) 15%, RGB(20, 21, 24) 66%, rgba(255, 255, 255, 0) 90%);
    height: calc( 100vh - 7.5rem);
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
}
.inputElement{
    color:white
}