.container{
    height: calc(23vh - 100px);
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 2px 0 grey;
}


.socialMediaContainer{
    margin: 1rem;
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.icons{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.iconImg{
    filter: opacity(0.8);
    cursor: pointer;
}

.iconImg:hover{
    transform: scale(1.05);
    filter: opacity(1);
}
.iconsSrc{
    font-size: small;
}
.iconsLink{
    color: rgb(0, 140, 255);
    text-decoration: underline;
    cursor: pointer;
}

.left{
    display: flex;
    flex: content;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 2;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: content;
    flex: 1;
}

.list{
    list-style: none;
}

.item{
    cursor: pointer;
    margin-bottom: 0.3rem;
}