.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem  3rem;
    background-color: #141c24;
    color: #9603e4 ;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 7px 0 #9603e4;
    margin-bottom: 2rem;
}

.logoContainer{
    display: flex;
    align-self: center;
    cursor: pointer;
}
.logo{
    box-shadow: 0 0 7px 0 #4ada84c3;
    border-radius: 5px;
}
.linksContainer{
    display: flex;
    align-self: center;
    font-size: 25px;
    justify-content: space-between;
}
.link{
    margin: 0rem 2rem 0rem 2rem;
    cursor: pointer;
    transition: 0.3s ease;
}
.link:hover{
    text-shadow: 1px 1px 20px  #4ada8490;
}

.signupContainer{
    display: flex;
    align-self: center;
    align-items: center;
}

.signupButton{
    padding: 8px;
    color: #4ada84c3;
    border: 1px solid #4ada847f;
    border-radius: 5px;
    font-family: monospace;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s ease;
    background-color: black;
}

.signupButton:hover{
    border: 1px solid #4ada84c3;
    transform: scale(1.01);
    box-shadow: 0 0 4px 0 #4ada84c3;;
}
.signupButton:active{
    background-color: grey;
    transform: scale(0.99);
}

.loginButton{
    padding: 8px;
    color: #9603e4c3;
    border: 1px solid #9603e47f;
    border-radius: 5px;
    font-family: monospace;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s ease;
    background-color: black;
    margin-left: 1rem;
}

.loginButton:hover{
    border: 1px solid #9603e4c3;
    transform: scale(1.01);
    box-shadow: 0 0 4px 0 #9603e4c3;;
}
.loginButton:active{
    background-color: grey;
    transform: scale(0.99);
}


/*
#4ada84 verdecito
#463ba3 lila
 #141c24 Dark
 #9603e4 
*/