.container{
    display: flex;
    justify-content: space-between;
    background: rgb(20, 20, 20);
    align-items: center;
    color: rgb(226, 226, 226) ;
    text-align: center;
    font-family:  'Roboto', 'Open Sans', 'Helvetica Neue';
    font-weight: 200;
    box-shadow: 0 0 2px 0 grey;
    padding: 1em 1em 1em 1em ;
    margin-bottom: 2rem;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
}

.logoContainer{
    display: flex;
    align-self: center;
    cursor: pointer;
    flex: 1;
}
.logo{
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
.linksContainer{
    display: flex;
    align-self: center;
    font-size: 25px;
    justify-content: space-between;
    flex: 3;
}
.link{
    margin: 0rem 2rem 0rem 2rem;
    cursor: pointer;
    transition: 0.3s ease;
}
.link:hover{
    transform: scale(1.1);
}

.signupContainer{
    display: flex;
    flex: 1;
    justify-content: right;
}

.signupButton, .loginButton, .logoutButton {
  align-items: center;
  appearance: none;
  background-color: #323232;
  border: 1px solid #323232;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family:  'Roboto', 'Open Sans', 'Helvetica Neue';
  font-size: 0.9rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.1em - 1px) 0.5em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-right: 1rem;
}

.signupButton:active, .loginButton:active, .logoutButton:active {
  border-color: #dbdbdb;
  outline: 0;
}

.signupButton:focus, .loginButton:focus, .logoutButton:focus {
  border-color: #485fc7;
  outline: 0;
}

.signupButton:hover, .loginButton:hover, .logoutButton:hover {
  border-color: #b5b5b5;
}

.signupButton:focus:not(:active), .loginButton:focus:not(:active), .logoutButton:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

/*
#4ada84 verdecito
#463ba3 lila
 #141c24 Dark
 #9603e4 
*/