.container{
    display:flex;
    background-color: black;
    padding-top: 8rem;
    padding-left: 2rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    min-height: 81vh ;
}
.wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    top: 8rem;
    left: 2rem;
    font-weight: 300;
    padding: 1rem 4rem 1.5rem 0rem;
}

.totalContainer{
    display: flex;
    justify-content: space-around;
}

.totalAmount{
    width: 10rem;
    margin-left: 1rem;
}

.titleName{
    font-weight: 500;
    margin-left: 10px;
}

.division{
    display: flex;
    align-items: center;
    margin-left: 4rem;
    justify-content: left;
    top: 12rem;
}
.line{
    width: 50vw;
    height: 3px;
    background: radial-gradient(circle, rgba(56,56,56,1) 57%, rgba(252,70,107,0) 100%);
    margin-left: 1rem;
}

.addAccount{
    margin-left: 1rem;
    color: #4ada84;
    cursor: pointer;
    transition: 0.2s ease;
}
.addAccount:hover{
    text-shadow: 1px 1px 10px  rgb(137, 137, 137);
}

.warning{
    font-size: 30px;
    justify-self: center;
    align-self: center;
    color: red;
    font-weight: 500;
}
.accountsContainer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 15rem;
}