.container{
    display:flex;
    background: linear-gradient(345deg, grey 0.1%, RGB(20 20 20) 15%, RGB(20, 21, 24) 66%, rgba(255, 255, 255, 0) 90%);
    padding-top: 4rem;
    padding-left: 2rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    min-height: calc(90vh - 5rem);
}
.wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    top: 8rem;
    left: 2rem;
    font-weight: 300;
    padding: 1rem 4rem 1.5rem 0rem;
}

.totalContainer{
    display: flex;
    justify-content: space-around;
}

.totalAmount{
    width: 10rem;
    margin-left: 1rem;
}

.titleName{
    font-weight: 500;
    margin-left: 10px;
}

.division{
    display: flex;
    align-items: center;
    margin-left: 4rem;
    justify-content: left;
    top: 12rem;
}
.line{
    width: 50vw;
    height: 3px;
    background: radial-gradient(circle, rgba(56,56,56,1) 57%, rgba(252,70,107,0) 100%);
    margin-left: 1rem;
}

.addAccount{
    margin-left: 1rem;
    color: #4ada84;
    cursor: pointer;
    transition: 0.2s ease;
}
.addAccount:hover{
    text-shadow: 1px 1px 10px  rgb(137, 137, 137);
}

.warning{
    font-size: 30px;
    justify-self: center;
    align-self: center;
    color: red;
    font-weight: 500;
}
.accountsContainer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5rem;
    justify-content: center;
}
.mobileTitle{
    display: none;
}

@media only screen and (max-width: 1500px) {
    .container{
        padding-left: 0.5rem;
    }
    .totalContainer{
        justify-content:space-between;
        width: 90%;
    }
    .accountsContainer{
        padding-left: 0rem;
    }
}

@media only screen and (max-width: 850px) {
    .title{
        display: none;
    }
    .mobileTitle{
        display: flex;
        flex-direction: column;
        font-weight: 200;
        font-size: 20px;
        margin-left: 1rem;
    }
    .titleName{
        margin-left: 0;
        font-weight: 300;
        font-size: 20px;
    }
    .totalContainer{
       font-size: 12px;
       flex-direction: column;
       margin-left: 1rem;
    }
    .division{
        margin-left: 0;
        font-size: 10px;
        margin-left: 1rem;
    }
}